/* Reset básico */
* { margin: 0; padding: 0; box-sizing: border-box; }
html, body, #root { height: 100%; width: 100%; font-family: Arial, sans-serif; }

/* Contenedor general */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header superior */
.header-top {
  background: #d4fdd2;
  color: rgb(80, 80, 80);
  padding: 1.5rem;           /* un poco más grande */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-top .logo {
  display: flex;
  align-items: center;
  gap: 1rem; /* espacio entre logo y texto */
}

.header-top img {
  width: 50px; /* tamaño del logo */
  height: 50px;
}

/* Header inferior */
.header-bottom {
  background: #57b460;
  padding: 1rem;            /* más delgado que el superior */
  display: flex;
  justify-content: center;
}

.header-bottom nav {
  display: flex;
  gap: 2rem;
}

.header-bottom nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header-bottom nav a:hover {
  text-decoration: underline;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

/* Footer */
.footer {
  background: #f1f1f1;
  padding: 1rem;
  text-align: center;
}

.header-top img {
  width: 100px;  /* ajusta el tamaño que quieras */
  height: auto; /* mantiene la proporción */
}